body{
    background-color:aqua;
    color:black;
}
h1{
    color: purple;
    text-align: left;
}
h2{
    display: flex;
    text-align: center;
}
h2::before {
    content: "";
    width: 150px;
    height: 1px;
    background-color: gray;
    margin-right: 20px;
}
p{
    text-align: left;
    width: 200px;
}